a.button-navigation:link, a.button-navigation:visited {
  background-color: #dadaeb;
  color: black;
  padding: 10px 30px;
  text-align: center;
  text-decoration: none;
  font-family: Arial, David;
  font-weight: 700;
  display: inline-block;
}

a.button-navigation:hover, a.button-navigation:active {
  background-color: #bcbddc;
}

a.button-select:link, a.button-select:visited {
  color: black;
  text-decoration: None;
  font-size: 25px;
}

a.button-select:hover, a.button-select:active {
  text-decoration:underline;
  font-size: 25px;
}

a.button-options:link, a.button-options:visited {
  color: gray;
  text-decoration: None;
  font-size: 15px;
}

a.button-options:hover, a.button-options:active {
  text-decoration:underline;
  font-size: 15px;
}

.graph-title text {
  font-family: Cursive;
  font-size: 36px;
  color: black;
}

.graph-description {
    max-width: 800px;
    min-width: 400px;
	min-height: 140px;
    margin: 0 auto;
    background-color: #ffffff;
}

.graph-description p {
    font-family: sans-serif;
	font-size: 18px;
    margin-top:20px;
    margin-bottom: 20px;
	color: #525252;
}

input[type="radio"] {
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Chrome, Safari, Opera */
  transform: scale(1.5);
}